* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  background-color: #40a08a;
  margin: 0;
  padding: 0;
}

input {
  padding: 0;
  width: 100%;
  outline: 0;
  border-width: 0 0 5px;
  border-color: #497be8;
  border-style: solid;
  margin-bottom: 10px;
  transition-duration: 0.4s;
  &:focus {
    border-color: #7e47f5;
    &::placeholder {
      color: transparent;
    }
  }
}
a .button {
  text-decoration: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  height: 30px;
  width: fit-content;
  border-radius: 10px;
  border: none;
  text-align: center;
  transition-duration: 0.4s;
  &.action-button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 0;
  }
  &:hover {
    background-color: #7e47f5;
    color: white;
    cursor: pointer;
  }
}

.contact-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  max-width: 375px;
  margin: 100px auto;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  height: 30px;
  width: fit-content;
  line-height: 25px;
  margin: 10px;
  border-bottom: 5px solid transparent;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  &:focus,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
    border-bottom: 5px solid #7e47f5;
    color: #7e47f5;
    cursor: pointer;
  }
}

.button-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.profile-img {
  height: 100px;
  width: 100p;
  border-radius: 50%;
}